@model school_record.Models.stumodel

@{
    ViewBag.Title = "details";
}

<h2>details</h2>

<div>
    <h4>stumodel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rollno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rollno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })|
    @Html.ActionLink("Back to List", "Detail")
 
</p>
